Reconnect/target/*
Reconnect/bin/*
Reconnect/.settings/*
Reconnect/.classpath


Reconnect/.project
Reconnect/src/main/java/com/reconnect/controller/.project
Reconnect/target/classes/com/reconnect/controller/*.class
Reconnect/.project
reconnect/.classpath
reconnect/.settings/org.eclipse.jdt.core.prefs
reconnect/.settings/org.eclipse.jdt.core.prefs
reconnect/.settings/org.eclipse.wst.common.component
*.xml
*.xml

reconnect/.classpath
reconnect/.project
reconnect/.settings/org.eclipse.wst.common.component
reconnect/.settings/org.eclipse.wst.common.project.facet.core.xml
reconnect/.settings/*